


<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>

<h1>EDIT WORKOUT</h1>


<div class="shrink">

<%= form_for [@user, @workout] do |f| %>
<hr>
	<div>
		<%= f.label :Description %>
		<%= f.text_field :description, :class=>"form-control"  %>
	</div>
	<div>
		<%= f.label :Date %>
		<%= f.text_field :date, :class=>"form-control"  %>
		[YYYY-MM-DD] Format only please
	</div>


	<div>
		<%= f.submit "UPDATE WORKOUT", :class => "btn btn-primary"%>
		<%= link_to 'Back To All Workouts', user_workouts_path, :class => "btn btn-secondary" %>
	</div>
<% end %>
<% end %>

</div>


