<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>

<%= form_for [@user, @workout] do |f| %>
	<div>
		<%= f.label :Description %>
		<%= f.text_field :description %>
	</div>
	<div>
		<%= f.label :Date %>
		<%= f.text_field :date %>
		<%=" [YYYY-MM-DD] Format only please"%>
	</div>

	<div>
		<%= f.submit %>
	</div>
<% end %>
<% end %>

<%= link_to 'Back To All Workouts', user_workouts_path %>
<% console %>


</body>
</html>