<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>

<h1>




<h1><i>Exercise View</i></h1>


<% @user.workouts.order('date DESC').each do |w| %>
<!-- @user.workouts.find_by_id(7).exercises -->
<h5>
		
   	<strong style="font-size:20px"><%= w.description %></strong>	<%= link_to 'Details', user_workout_exercises_path(params[:user_id], w.id) %>
 			<br>

   	<% w.exercises.each do |f| %>
   	<%= f.title   %> 
   	<%= link_to 'Show Exercise', user_workout_exercise_path(params[:user_id], w.id, f.id) %>
   	<br>

  
   <% end %>
   
<br>
   </h5> 

<% end %>


<% end %>

<%= link_to 'Back To My Workouts', user_workouts_path, :class => "btn btn-primary" %>


</body>
</html>