<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>

<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>

SEARCH Fo YO Exercize boiiiii
<br><br><br><br>

<%= Exercise.all.where(title: "HSPU") %>


<br><br><br><br>
ALL EXERCISES BY DATE:
<br><br>

<% @exercise.each do |w| %>

<p>Exercise Name:  <%= w.title %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	

   Date:  <%= w.workout.date %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   Workout: <%= w.workout.description %>	
 
  
   
   </p> 

<% end %>
<% end %>

<%= link_to 'Back To All Workouts', user_workouts_path %>

<% console %>
<%end%>
</body>
</html>