<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>

<%= favicon_link_tag 'favicon.ico'%>
   <h1>My Workouts</h1>
   
   <h2>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Add New Workout', new_user_workout_path %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to 'Search by Exercise', search_path %> 
</h2>
<br>
<% @user.workouts.each do |w| %>

<p>ID #:  <%= w.id %> &nbsp;&nbsp;&nbsp;	
   DATE:	<%= w.date %>	&nbsp;&nbsp;&nbsp;	
   DESCRIPTION:			<%= w.description %> &nbsp;&nbsp;&nbsp;	 
   <%= link_to 'Details', user_workout_exercises_path(params[:user_id], w.id) %>
   &nbsp;&nbsp;&nbsp;&nbsp;
   <%= link_to 'Edit Description or Date', edit_user_workout_path(params[:user_id],w.id) %>
   &nbsp;&nbsp;&nbsp;&nbsp;
   <%= link_to 'Delete Workout', user_workout_path(params[:user_id],w.id), method: :delete, data: { confirm: 'Are you sure you permanently delete this workout?'} %>
   
   </p> 

<% end %>















<% end %>


</body>
</html>