<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p> heloooooooo </p>


<%= form_for [@user, @workout] do |f| %>
	<div>
		<%= f.label :Description %>
		<%= f.text_field :description %>
	</div>
	<div>
		<%= f.label :Date %>
		<%= f.text_field :date %>
		<%=" [YYYY-MM-DD] Format only please"%>
	</div>

	<div>
		<%= f.submit %>
	</div>
<% end %>

<%= link_to 'Back To All Workouts', user_workouts_path %>
</body>
</html>