<h1> Users Form </h1>

<%= form_for @user do |f| %>
email: <%= f.text_field :email %>
password: <%= f.password_field :password %>
password confirmation <%= f.password_field :password_confirmation %>

<%= f.submit %>

<%end%>