<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<%= form_for [@workout, @exercise] do |f| %>
	<div>
		<%= f.label :'Exercise Name' %>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.label :Notes %>
		<%= f.text_field :notes %>
	</div>
	

	<div>
		<%= f.submit %>
	</div>
<% end %>

<%= link_to 'Back To All Workouts', index_path %>



</body>
</html>