

<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>





	<h1> <%= @workout.description %>
	<br>
		<%= @workout.date %>
	</h1>
<br><br>
	<h2>
		<%= link_to 'Add Exercise', new_user_workout_exercise_path(params[:user_id], @workout.id) %>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to 'Back To All Workouts', user_workouts_path %>
	</h2>
<br>
	<% @exercises.each do |e| %>
	<p>
		ID #:  <%= e.id %> &nbsp;&nbsp;&nbsp; 
		<br>
		
	<video src="<%= e.video %>" controls></video>

		Exercise Name: 	<%= e.title %> &nbsp;&nbsp;&nbsp; 

   		<br>
   		Notes: <%= e.notes %> &nbsp;&nbsp;&nbsp; 
   	<br>
   		<%= link_to 'Edit Exercise', edit_user_workout_exercise_path(params[:user_id], @workout.id, e.id) %>
   		<%= link_to 'Delete Exercise', user_workout_exercise_path(params[:user_id], @workout.id, e.id), method: :delete, data: { confirm: 'Are you sure you permanently delete this exercise?'} %>
   	<br><br>
	</p> 
	<% end %>






<%end%>
