<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>

THE NEW PAGE

<%= form_for [@user, @workout, @exercise] do |f| %>

	<div>
		<%= f.label :'Exercise Name' %>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.label :Notes %>
		<%= f.text_field :notes %>
	</div>
	

	<div>
		<%= f.submit %>
	</div>
<% end %>

<%= link_to 'Back To All Exercises', user_workout_exercises_path %>
<% console %>
<%end%>
</body>
</html>