<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<% if current_user != @user %>
   <p> You cannot view other users information </p>
<% else %>
<br><br>
<%#= video_tag @exercise.video, :controls =>true %>
<%#=video_tag(@exercise.video_url.to_s, size: "250x200", controls: true, autoplay: true, preload: "auto", :autobuffer => true)%>

<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>

<input type="filepicker" data-fp-apikey="AysFbrFv9RtOQ6HSKt0OFz"
onchange="document.getElementById('exercise-video').src=event.fpfile.url">

<!-- document.getElementById('exercise-video').src=event.fpfile.url;console.log('src is ' + document.getElementById('exercise-video').src)) -->
<!-- console.log(event.fpfile.url) -->

<video id="exercise-video" src="" controls>
</video>

<br><br>
not sure if this view for show is important at all
EZ wider
<br><br>
<%#raise @exercise.inspect %>
<%= @exercise.video_url %>
Exercise Name: 	<%= @exercise.title %>
<br>
Video String: <%= @exercise.video %>
<br>
Notes: <%= @exercise.notes %>

<div class="row">

<%= form_for [@user, @workout, @exercise], :html => {:class => "form-horizontal col-sm-4"} do |f| %>
<hr>	
	<div class="form-group">
		<%=f.label :VideoString %>
		<%=f.text_field :video, :class=>"form-control"%>
	</div>

	<div class="form-group">
		<%= f.submit "Save Video", :class => "btn btn-primary" %>
	</div>
<% end %>

</div>









<%console%>
<% end %>
</body>
</html>